.sign-in-intro
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'card' }) do
    %h1.sign-in-title
      = t('apps.header.login')
    - flash.each do |name, msg|
      .alert.alert-warning= content_tag :div, msg
    .form-group
      %input.form-control{type: 'text', name: 'user[email]', placeholder: t('apps.header.username'), autofocus: true}
    .form-group
      %input.form-control{type: 'password', name: 'user[password]', placeholder: t('apps.header.password')}
    - if Rails.application.secrets.ldap && Rails.application.secrets.ldap[:enabled] == false
      .field
        %a{href: '/users/password/new'}= t('apps.header.forgot_password')
    .actions
      %button.bt.bt-main{type: :submit, id: 'sign_in'}
        %span.txt= t('common.sign_in')
        %i.symbol.sign.in.icon